<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="extension" value=".cs" />
		<add key="input.folder" value="Input\" />
		<add key="output.folder" value="Output\" />
		<add key="class.tpl" value="Templates\Class.tpl" />
		<add key="engine.class" value="Engine" />
		<add key="debug" value="true" />
	</appSettings>
</configuration>