<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- main -->
		<add key="extension" value=".cs" />
		<add key="input.folder" value="Input\" />
		<add key="output.folder" value="Output\" />
		<add key="class.tpl" value="Templates\Class.tpl" />
		<add key="array.tpl" value="Templates\JassArray.tpl" />
		<add key="debug" value="true" />

		<!-- class association -->
		<add key="nothing" value="void" />
		<add key="integer" value="int" />
		<add key="boolean" value="bool" />
		<add key="real" value="float" />
	</appSettings>
</configuration>